
/* FILLS IN THE EMPTY SIDEBAR ON THE LEFT ON ABOUT PAGE */
.black-background {
    background-color: black;
    height: 4000px;
}


.headshot img {
    border-radius: 50%;
    width: 80%;
    transform: translate(15%);
}

.about-content-holder {
    margin-top: 40px;
}

.about-content {
    margin: auto;
    width: 65%;
}

.side-by-side {
    min-height: 250px;
    margin-bottom: 10px;
}


.headshot {
    float: left;
    width: 30%;
}


.people-description {
    float: left;
    width: 70%;
}

.about-text {
    background-color: #292929;
}

.about-text p {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 22px;
}

.about-text h1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    font-family: "Inconsolata";
    color: pink;
}

.about-text h2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-family: "Inconsolata";
    font-size: 18px;
    color: #feeffe;
}

.about-text h3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-family: "Inconsolata";
    font-size: 14px;
    color: #feeffe;
}


