.nodes {
	position: relative;
    font-size: 12px;
    padding: 10px 5px 10px 5px;
    color: #fefae0;
    text-align: center;
	animation: mymove 1s ease-in;
	border: none;
	cursor: pointer;
}

@keyframes mymove {
	from {top: 10px;}
	to {top: 0px;}
  }


.slide:hover,
.slide:focus {
	transform: translateY(0.07em);
	background-color: #3D3D3D;
}


.fade-in-one {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 0.8s;
}

.fade-in-two {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 1.5s;
}

.fade-in-three {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 2.5s;
}

.fade-in-four {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 3.5s;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}