

/* CONTAINER FOR NAVIGATION BAR - FIXED SO IT's ALWAYS THERE */
.nav-bar {
    position: fixed;
    top: 0;
    display: table;
    width: 100%;
    height: 44px;
    background: #141414;
    color: #f2f2f2
}

/* CONTAINER FOR NAVIGATION LINKS */
.nav-links {
    float: right;
}

/* CONTAINER FOR TOP LEFT LOGO AND WORDS */
.logo-and-words {
    float: left
}

/* MSE LOGO */
.logo-and-words img {
    position: relative;
    display: inline-block;
    transform: translateY(10%);
}

/* KNOWLEDGE ENGINE */
.logo-and-words p {
    display: inline-block;
    font-size: 1em;
    line-height: 1em;
    margin: 5px;
    color: #FEF8EC;
    font-family: 'Josefin Sans';
}

/* EACH NAVIGATION LABEL */
.nav-label {
    color: #999999;
    padding: 0 20px 0 20px;
    text-decoration: none;
    line-height: 44px;
    font-family: 'Josefin Sans';
}

.nav-label:hover {
    color: #6F71AE;
}

/* MAGNIFYING GLASS */
.search-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23999999'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
    background-size: 16px;
    background-position: 0px 48%;
    background-color: transparent;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    float: right;
}
